<div class="back-button">
  <a href="/">
    <p>← Back</p>
  </a>
 </div>
<div class="section ning">
  <h1>Sis is...</h1>
  <div class="person-desc">
    <p id="person-desc"></p>
  </div>
  <div class="person-content">
    <div id="person-image"></div>
  </div>
  <h2>HAVE A MERRY CHRISTMAS!!!</h2>
</div>

<script>
const image = document.getElementById('person-image');
const text = document.getElementById('person-desc');

function getRandomImage()
{
    var images = [
        '/images/ning/caring.PNG',
        '/images/ning/crazy.PNG',
        '/images/ning/funny.PNG',
        '/images/ning/goofy.PNG',
        '/images/ning/hardworking.jpg',
        '/images/ning/pretty.PNG',
        '/images/ning/sister.PNG',
        '/images/ning/athletic.PNG'
    ];
    var ran_num = Math.floor(Math.random() * 8);
    var num = images[ran_num];

    setText(ran_num);
    setImage(num);
}

function setText(ran_num) {
  if (ran_num === 0){text.innerHTML = "Caring";}
  if (ran_num === 1){text.innerHTML = "A Little Crazy";}
  if (ran_num === 2){text.innerHTML = "Funny";}
  if (ran_num === 3){text.innerHTML = "Goofy";}
  if (ran_num === 4){text.innerHTML = "Super Hardworking";}
  if (ran_num === 5){text.innerHTML = "Pretty";}
  if (ran_num === 6){text.innerHTML = "A Great Sister ❤";}
  if (ran_num === 7){text.innerHTML = "Athletic";}
}

function setImage(thisImg) {
    var img = document.createElement("IMG");
    img.src = thisImg;
    image.appendChild(img);
}

getRandomImage();

</script>
