<div class="welcome">
  <div class="welcome-text">
    <h1><b>{{title}}</b></h1>
    <p>Which Yip are you?</p>
    <div class="name-logo">
      <ul>
          <li class="list-item-img">
            <a href="/fam/dad">
              <img src="../images/dad/dad.PNG" alt="dad-face" class="dad-face">
            </a>
          </li>
          <li class="list-item-img">
            <a href="/fam/mum">
              <img src="../images/mum/mum.PNG" alt="mum-face" class="mum-face">
            </a>
          </li>
          <li class="list-item-img">
            <a href="/fam/ning">
              <img src="../images/ning/ning.PNG" alt="ning-face" class="ning-face">
            </a>
          </li>
          <li class="list-item-img">
            <a class="bev-face" href="#popup1">
              <img src="../images/bev/bev.PNG" alt="bev-face" class="bev-face">
            </a>
          </li>
          <li class="list-item-img">
            <a href="/fam/ash">
              <img src="../images/ash/ash.PNG" alt="ash-face" class="ash-face">
            </a>
          </li>
      </ul>
    </div>
  </div>
  <div id="popup1" class="overlay">
  	<div class="popup">
  		<h2>Oh no!</h2>
  		<a class="close" href="#">&times;</a>
  		<div class="content">
  			<p>It seems like you're trying to see what Bev may be described as.</p>
        <p>However, because of how awesome she is, the code for her web page could not handle so much greatness that it broke down and produced this message instead.</p>
        <p>Feel free to approach her later to give her condolences with bubble tea, money or free food this Christmas.</p>
        <p><b>*muah muah*</b></p>
  		</div>
  	</div>
  </div>
  <p class="bottom">Christmas 2018</p>
</div>
